# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.vscode

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*/.qmake.cache
*/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
#Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

#VAST movement records
*.pos


# Non-necessary directories in repository
VASTATE

VASTnet/unit_tests/massif.out.14680
VASTnet/unit_tests/unittest_net_udp_handler
VASTnet/unit_tests/unittest_net_udpnc_consumer
VASTnet/unit_tests/unittest_net_udpnc_handler
VASTnet/unit_tests/unittest_net_udpnc_mchandler
VASTnet/unit_tests/unittest_rlncdecoder
VASTnet/unit_tests/unittest_rlncmessage

Demo/VASTStatReplayQt/.qmake.stash
Demo/VASTStatReplayQt/Makefile
Demo/vastplayground/
Dependencies/
VASTATEsim/
VASTUML/
VASTnet/rlncmessagewrapper.cpp
VASTsimDev/
Wrappers/
clean
clean.bat
coding_host/tests/basic_encoder_test
coding_host/tests/test_recoding_decoding
coding_host/tests/test_uncoded_coded_mixed
coding_host/tests/test_uncoded_coded_mixed2
common/tests/unittest_blockingqueue
common/tests/unittest_concurrentqueue
common/tests/unittest_logger
common/tests/unittest_vastmessage
tests/binary_file_interpreted.txt
tests/logs/
tests/rlnc_encoded_packet_test
tests/rlnc_packet_test
tests/test_net_udpnc_mchandler
tests/vaststatlog_save1.bin
tests/vaststatlog_test
JOINGmsg.bin
VAST-0.4.6.cflags
VAST-0.4.6.creator.user
VAST-0.4.6.creator.user.da14797.4.8-pre1
VAST-0.4.6.cxxflags
